<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style type="text/css">
    input {
      border-style: solid;
      border-width: 2px;
    }
  </style>

</head>

<body>
  <h1>Welcome to the Great Number Game!</h1>
  <h2>I am thinking of a number between 1 and 100</h2>
  <h3>Take a guess!</h3>

  <form action="/guess" method="post">
    <input type="text" name="number">
    <input type="submit" value={{session['button']}}>

  </form>

  <p>{{session['message']}}</p>

  <form action="/reset" method="post">
    <input type="submit" value="Play Again!">
  </form>







</body>

</html>